<div
  id="menu"
  class="bg-gray-800 min-h-screen text-slate-300 w-40 md:w-60 overflow-auto"
>
  <div id="logo" class="my-6 px-6">
    <h1
      class="text-lg md:text-2xl font-semibold text-white cursor-pointer"
      [routerLink]="['/countries/home']"
    >
      Countries<span class="text-sky-500">App</span>
    </h1>
    <p class="text-slate-400 text-sm">Choose a search option</p>
  </div>

  <div id="nav" class="w-full md:px-6">
    @for( item of menuItems; track $index ) {
    <a
      [routerLink]="item.path"
      routerLinkActive="bg-sky-800"
      class="w-full px-2 inline-flex space-x-2 items-center border-b border-slate-700 py-3 hover:bg-white/5 transition ease-linear duration-150"
    >
      <div class="flex flex-col ps-4">
        <span class="md:text-lg text-white">{{ item.title }}</span>
        <span class="md:text-sm text-white/50 hidden md:block">{{
          item.path
        }}</span>
      </div>
    </a>
    }
  </div>
  @if (!isHomeVisible()) {
  <button
    class="bg-sky-500 hover:bg-sky-400 text-white rounded-2xl px-4 my-8 flex justify-center mx-auto"
    routerLink="/countries/favorites" [routerLink]="['/countries/favorites']"
  >
    Favorites
  </button>
  }
</div>
