<div class="bg-slate-300 rounded-2xl shadow-lg shadow-sky-500">
  <h1 class="text-4xl font-medium text-sky-600 text-center py-6">
    Countries App
  </h1>
  <img
    src="background_home.jpg"
    alt="World Map Image"
    class="px-2 rounded-2xl w-[80%] mx-auto"
  />
  <p class="px-4 sm:px-2 py-4 text-center sm:text-xl ">
    Application to search for information about a country with some search
    options.
  </p>
  <hr class="border-slate-400"/>
  <button class="bg-sky-500 hover:bg-sky-400 text-white rounded-2xl px-4 my-8 mx-6" [routerLink]="['/countries/favorites']">Favorites</button>
</div>
