<div class="bg-slate-300 rounded-2xl shadow-lg shadow-sky-500 pb-2">
  <h1 class="text-4xl font-medium text-sky-600 text-center py-6">
    Countries App
  </h1>
  <img
    src="background_home.jpg"
    alt="World Map Image"
    class="px-2 rounded-2xl w-[80%] mx-auto"
  />
  <p class="px-4 sm:px-2 py-4 text-center sm:text-xl ">
    Application to search for information about a country with some search
    options.
  </p>
  <hr class="border-slate-400"/>
   <button class="flex bg-sky-500 hover:bg-yellow-500 text-white rounded-full p-2 m-2" [routerLink]="['/countries/favourites']" matTooltip="My favourite countries"><mat-icon>star</mat-icon>Favourites</button>
</div>
