<div
  class="bg-slate-300 rounded-2xl shadow-md shadow-sky-500 flex flex-col p-4 mb-4"
>
  <p class="text-sky-600 pb-2">Find country by capital</p>
  <app-search-box
    (onDebounce)="searchByCapital($event)"
    [initialValue]="initialValue"
    placeholder="Type a term to search for..."
  ></app-search-box>
</div>

<div class="bg-slate-300 rounded-2xl shadow-md shadow-sky-500">
  @if (isLoading) {
  <mat-spinner class="mx-auto"></mat-spinner>
  }
  <countries-table [countries]="countries"></countries-table>
</div>
